body {
  /* height: 2500px; */
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffffcc;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.navbar-brand h5 {
  color: rgb(40, 46, 75);
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-weight: bold;
  position: relative;
  top: 12px;
  height: 18px;
}

.navbar-nav a {
  color: rgb(96, 96, 96);
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
.navbar-nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: rgb(135, 135, 135);
  transition: all 0.3s ease;
}
.navbar-nav a:hover::after {
  width: 100%;
  padding: 1.2px;
  left: 0;
}
.nav-link:hover {
  color: rgb(173, 173, 173) !important;
}
.nav-link.active {
  color: rgb(173, 173, 173) !important;
  /* background-color: red; */
}

/* homePage */
.videoLayer {
  background-color: #cfcfcfb9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#background-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  /* filter: brightness(10%); */
  filter: opacity(5%);
}

#home {
  width: auto;
  height: 100vh;
}

.homeItems {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.homeText {
  margin: 0;
}
.homeButton {
  margin-top: 20px;
}

.homeText h3 {
  font-weight: bold;
  color: #94afe3;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.conText br {
  display: none;
}

.conText > div {
  /* border: 2px solid blue; */
  color: #555555;
  text-transform: uppercase;
  display: flex;
  font-weight: 500;
  font-size: 14.5px;
  margin: 0 0 0 50px;
}
#flip {
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
  color: #bcd6ff;
}
#flip > div > div {
  color: #587dc2;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}
#flip div:first-child {
  animation: show 8s linear infinite;
}
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.homeImage {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 20px 0 50px;
}
.homeImage img {
  width: 100%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 95px 50px 90px 50px;
}

@media only screen and (max-width: 768px) {
  .homeItems {
    display: grid;
  }
}

/* aboutPage */
#about {
  position: relative;
  top: 50px;
  padding-top: 100px;
}
.about {
  background-color: #f7f7f7;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.aboutImage {
  width: 750px;
  height: auto;
  margin: 0 0 0 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aboutImage img {
  width: 100%;
  height: auto;
  filter: brightness(140%);
}
.aboutText {
  padding: 15px;
  margin: 0 50px 0 50px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.bio {
  display: flex;
}
#efefef .bio1 div,
.bio2 div {
  display: flex;
  margin-right: 150px;
}

.bio b {
  margin-right: 10px;
}

.wcid {
  /* border: 2px solid red; */
  background-color: #b6b6b6;
  margin-top: 150px;
  height: 250px;
}

#work {
  margin-top: 100px;
  padding-top: 140px;
}
.work {
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cardItems {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItems .card {
  margin: 0 10px;
}
.card {
  width: 18rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-body {
  /* border: 2px solid green; */
  height: 150px;
}
.card-text {
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%);
  /* Ganti dengan warna lain sesuai kebutuhan */
}

@media only screen and (max-width: 768px) {
  .cardItems {
    display: grid;
  }
}

/* Contact Styles */
#contact {
  background-color: #414656;
  color: #fff;
  margin-top: 150px;
}
.footerOne {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  height: 150px;
}
.footerLogo {
  margin: 25px 50px 0 50px;
}
.footerBio {
  margin: 0 50px;
}
.footerBio img {
  width: 25px;
  height: 100%;
  margin-right: 15px;
}
.phone {
  display: flex;
}
.email {
  display: flex;
}
#contact hr {
  width: 90%;
  margin: 40px auto;
}
.footerTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerLink a {
  margin: 0 10px;
  color: #fff;
  text-decoration: underline;
}
.footerSocialMedia img {
  margin: 0 10px;
  width: 40px;
}
.footerSocialMedia {
  margin: 0 50px;
}
.footerLogos {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-weight: bold;
  margin: 25px 50px 0 50px;
}

/* Media Queary */

/* Large Devices / Desktop (≥1200px) */ 
@media only screen and (min-width: 1441px) {
  .navbar .container {
    padding: 20px;
  }
  .navbar-nav a {
    font-size: 20px;
  }
  .navbar h5 {
    font-size: 30px;
  }
  .homeText h3 {
    font-size: 60px;
  }
  .conText > div {
    font-size: 16px;
  }
  .homeButton a {
    border: 2px solid;
    padding: 10px 35px;
    font-size: 25px;
  }
  .homeImage {
    width: 400px;
  }
}

/* Medium Devices / Tablets (≥768px and <1200px) */
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  /* Home Page */
  .homeItems {
    padding-top: 80px;
  }
  .homeText {
    margin-left: 50px;
    width: 700px;
  }
  .homeText h3 {
    margin-bottom: 25px;
  }
  .conText br {
    display: block;
  }
  .conText > div {
    display: grid;
  }

  #flip {
    margin: 0;
    position: relative;
    bottom: 37px;
    left: 95px;
  }
  .homeButton {
    position: relative;
    bottom: 50px;
  }
  .homeImage {
    width: 350px;
    position: relative;
    bottom: 40px;
  }
}


/* Small Devices / Mobile (≥480px and <768px) */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  #home {
    height: 1000px;
  }
  .homeItems {
    display: grid;
    align-items: center;
  }
  .homeText h3{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .homeText {
    padding-top: 90px;
  }
  .conText > div > p{
    width: 100%;
  }
  .conText br {
    /* display: block; */
  }
  .conText > div {
    font-size: 10px;
    margin: 0;
    display: grid;
    /* justify-content: center; */
  }
  #flip {
    margin: 0;
    position: relative;
    /* bottom: 15px; */
    text-align: center;
  }
  .homeButton {
    display: flex;
    justify-content: center;
  }
  .homeImage {
    width: 200px;
    left: 0;
    right: 0;
  }
}

/* Extra Small Devices / Mobile (<480px) */
@media only screen and (max-width: 479px) {
  #home {
    height: 1000px;
  }
  .homeItems {
    display: grid;
    align-items: center;
  }
  .homeText h3{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .homeText {
    padding-top: 90px;
  }
  .conText > div > p{
    width: 100%;
  }
  .conText br {
    /* display: block; */
  }
  .conText > div {
    font-size: 10px;
    margin: 0;
    display: grid;
    /* justify-content: center; */
  }
  #flip {
    margin: 0;
    position: relative;
    /* bottom: 15px; */
    text-align: center;
  }
  .homeButton {
    display: flex;
    justify-content: center;
  }
  .homeImage {
    width: 200px;
    left: 0;
    right: 0;
  }
}
