body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffffcc;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.navbar-brand h5 {
  color: rgb(40, 46, 75);
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-weight: bold;
  position: relative;
  top: 12px;
  height: 18px;
}

.navbar-nav a {
  color: rgb(96, 96, 96);
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
.navbar-nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: rgb(135, 135, 135);
  transition: all 0.3s ease;
}
.navbar-nav a:hover::after {
  width: 100%;
  padding: 1.2px;
  left: 0;
}
.nav-link:hover {
  color: rgb(173, 173, 173) !important;
}
.nav-link.active {
  color: rgb(173, 173, 173) !important;
  /* background-color: red; */
}

/* homePage */
.videoLayer {
  background-color: #cfcfcfb9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#background-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  /* filter: brightness(10%); */
  filter: opacity(5%);
}
#home {
  width: auto;
  height: 100vh;
}
.homeWave {
  /* border: 2px solid green; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  /* filter: opacity(80%); */
}

.homeItems {
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  align-items: center;
  height: 100vh;
}

.homeText {
  width: 700px;
}

.homeText h3 {
  font-weight: bold;
  color: #94afe3;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.conText {
  /* border: 2px solid blue; */
  color: #555555;
  text-transform: uppercase;
  display: flex;
  font-weight: 500;
  font-size: 14.5px;
  /* margin: 0 0 0 50px; */
}
#flip {
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
  color: #bcd6ff;
}
#flip > div > div {
  color: #bcd6ff;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}
#flip div:first-child {
  animation: show 8s linear infinite;
}
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.homeImage {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 20px 0 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.homeImage img {
  width: 100%;
  height: auto;
}

/* aboutPage */
#about {
  position: relative;
  top: 50px;
  padding-top: 100px;
}
.about {
  background-color: #f7f7f7;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.aboutImage {
  width: 750px;
  height: auto;
  margin: 0 0 0 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aboutImage img {
  width: 100%;
  height: auto;
  filter: brightness(140%);
}
.aboutText {
  padding: 15px;
  margin: 0 50px 0 50px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.bio {
  display: flex;
}
.bio1 div,
.bio2 div {
  display: flex;
  margin-right: 150px;
}

.bio b {
  margin-right: 10px;
}

