body {
  height: 1000px;
  background-color: red;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffffcc;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.navbar-brand h5{
  color: rgb(40, 46, 75);
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-weight: bold;
  position: relative;
  top: 12px;
  height: 18px;
  
}

.navbar-nav a {
  color: rgb(96, 96, 96);
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
.navbar-nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: rgb(135, 135, 135);
  transition: all 0.3s ease;
} 
.navbar-nav a:hover::after {
  width: 100%;
  padding: 1.2px;
  left: 0;
}
.nav-link:hover {
  color: rgb(173, 173, 173)!important;
}
.nav-link.active {
  color: rgb(173, 173, 173)  !important;
  /* background-color: red; */
}

/* homePage */
.videoLayer {
  background-color: #cfcfcfb9;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
}
#background-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
}

